alabaster==1.0.0
anyio==4.9.0
appnope==0.1.4
asgiref==3.8.1
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
babel==2.17.0
backcall==0.2.0
bleach==6.2.0
certifi==2025.4.26
cffi==1.17.1
cfgv==3.4.0
channels==4.2.2
channels_redis==4.2.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
constantly==23.10.4
cryptography==45.0.3
daphne==4.2.0
decorator==5.2.1
defusedxml==0.7.1
distlib==0.3.9
dj-cmd==1.0.0
dj-database-url==2.3.0
Django==5.2.1
django-appconf==1.1.0
django-better-admin-arrayfield==1.4.2
django-cors-headers==4.7.0
django-debug-toolbar==5.2.0
django-dynamic-preferences==1.17.0
django-extensions==4.1
django-formtools==2.5.1
django-gfklookupwidget==1.0.9
django-ipware==7.0.1
django-jet-reboot==1.3.10
django-polymorphic==4.1.0
django-redis==5.4.0
django-split-settings==1.3.2
django-statici18n==2.6.0
django-summernote==0.8.20.0
djangorestframework==3.16.0
docutils==0.21.2
drf-link-header-pagination==0.2.0
drf-spectacular==0.28.0
filelock==3.18.0
gunicorn==23.0.0
h11==0.16.0
honcho==2.0.0
html2text==2025.4.15
hyperlink==21.0.0
identify==2.6.12
idna==3.10
imagesize==1.4.1
incremental==24.7.2
inflection==0.5.1
ipython==7.34.0
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
msgpack==1.1.0
munkres==1.1.4
networkx==3.5
nodeenv==1.9.1
packaging==25.0
parso==0.8.4
persisting-theory==1.0
pexpect==4.9.0
pickleshare==0.7.5
pipenv==2025.0.3
platformdirs==4.3.8
pre_commit==4.2.0
prompt_toolkit==3.0.51
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
Pygments==2.19.1
pyOpenSSL==25.1.0
python-ipware==3.0.0
PyYAML==6.0.2
qrcode==8.2
redis==6.2.0
referencing==0.36.2
requests==2.32.3
roman-numerals-py==3.1.0
rpds-py==0.25.1
selenium==3.141.0
sentry-sdk==2.29.1
service-identity==24.2.0
setuptools==80.9.0
sniffio==1.3.1
snowballstemmer==3.0.1
Sphinx==8.2.3
sphinx-autobuild==2024.10.3
sphinx-intl==2.3.1
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.3
starlette==0.47.0
traitlets==5.14.3
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.13.2
uritemplate==4.1.1
urllib3==2.4.0
uvicorn==0.34.2
virtualenv==20.31.2
watchfiles==1.0.5
wcwidth==0.2.13
webencodings==0.5.1
websockets==15.0.1
whitenoise==6.9.0
zope.interface==7.2
